@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div id="div">
    @Html.TextBox("file", "", new { type = "file" }) <br />

    <input  id="btn" type="submit" value="Upload" />

    @ViewBag.Message
    

</div>




} 


