@model IEnumerable<qrCode_generation.ViewModel.QRViewModel>



@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>



@foreach (var item in Model)
{
  <h1>hello</h1>
@*<img src="@String.Format("data:image/jpg;base64,{0}", item.Image)" />*@
}